body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    text-align:center;
    background-image:url(../Content/Images/background.png);
    background-repeat:repeat-y;
    background-attachment:fixed; 
}

header,
footer,
nav,
section {
    display: block;
}
.wrapper {
    width:auto;
    margin: 0 auto;
    text-align:left;
}
.header-image {
    height: 260px;
    border: 3px solid #000;
    background-image: url("../Content/Images/header_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}
.footer-image {
    clear: both;
    width: auto;
    height: 160px;
    margin-top: auto;
    background-image: url("../Content/Images/footer_image.jpg");    
    background-size: cover;
}
.top {
    width: 100%;
    
}
.left {
    width: 15%;
    height: 100%;
    float:left;        
}
.main {
    float: left;
    height: 100%;
    width: 85%;
 }
.content{
    height: 700px;
    width: auto;
  
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
